/* Pop up box for remindNow() */

.popUp {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#popCont {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

body {
    background: #F8F2C5;
    padding-top: 80px;
}

body,
input,
textarea,
nav,
label {
    font-family: "Roboto", sans-serif;
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    padding: 15px;
    z-index: 2;
    background-color: #FD9727;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    color: #F8F2C5;
}

header button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    border-radius: 25px;
    background: #fff;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: 0.3s ease;
}

header button svg {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}

header button svg .fill {
    fill: #FD9727;
}


/* Navigation */

nav span {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    font-size: 25px;
    color: #F8F2C5;
    padding: 20px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #242424;
    overflow-x: hidden;
    transition: 0.5s;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

.sidenav h1 {
    margin: 60px 0 30px 0;
    font-size: 24px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
    font-size: 20px;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.sidenav h1 {
    padding-left: 20px;
}

.menu p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.container {
    width: 100%;
    float: left;
    padding: 15px;
}


/* Add Notes div*/

#addNoots {
    display: none;
}

#titleLabel,
#classLabel,
#descLabel {
    display: none;
}

#noteDet input {
    color: #141414;
    font-size: 15px;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.89);
    border-radius: 25px 25px 25px 25px;
    border: 0px;
    box-shadow: none;
    outline: none;
}

select {
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 25px;
    padding: 10px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color: #000;
    text-transform: uppercase;
}

textarea {
    width: 100%;
    height: 100px;
    float: left;
    color: #141414;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.89);
    border-radius: 25px 25px 25px 25px;
    border: 0px;
    box-shadow: none;
    outline: none;
    overflow: none;
    resize: none;
}

input[name=tit] {
    float: left;
    padding: 5px;
}

#classSelect {
    height: 30px;
    display: block;
    position: absolute;
    margin: 20px 0 25px 5px;
}

#remindLabel {
    float: left;
    margin: 55px 0 0 0;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.69);
}

input[type=checkbox] {
    visibility: hidden;
}

.checkboxTwo {
    width: 70px;
    height: 30px;
    background: #fff;
    margin: 50px 0 0 75px;
    border-radius: 50px;
    position: relative;
}

.checkboxTwo label {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 5px;
    background: rgba(234, 233, 233, 0.9);
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.10);
}

.checkboxTwo input[type=checkbox]:checked+label {
    left: 43px;
    background: #4fbe79;
}

#dateLabel,
input[name=dateTime] {
    display: inline-flex;
}

#dateLabel {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.69);
    margin: 0;
}

input[name=dateTime] {
    padding: 5px;
    width: 230px;
    height: 40px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    margin: 25px 0 25px 25px;
}

input[name=post] {
    padding: 10px;
    background: #FD9727 !important;
    color: #F8F2C5 !important;
    text-transform: uppercase;
    font-weight: 500 !important;
    border-radius: 10px 10px 10px 10px;
    margin: 10px 20px 0 0;
    float: right;
    cursor: pointer;
}


/* disNotes div - generated notes data */

#disNotes h2 {
    color: rgba(29, 29, 29, 0.35);
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
    text-align: center;
}

.note {
    width: 100%;
    min-height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;
}

.note h3 {
    color: #000;
    font-size: 20px;
}

.note h4 {
    color: #585858;
    padding-bottom: 10px;
}

.note h4::before {
    content: 'Class: ';
}

input[value=Delete] {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    padding: 6px;
    background: rgba(181, 43, 43, 0.89);
    border-radius: 25px 25px 25px 25px;
    border: 0px;
    box-shadow: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}
